body {
  display: flex;
  align-items: center;
  justify-content: center;
}

#wrapper {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-gap: 5%;
  padding: 5%;
}

#wrapper > div {
  display: flex;
  justify-content: center;
}

header {
  background-color: #A65F40;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: white;
}

img {
  width: 166px; /* 1/3 of the original image's width */
  height: 139px; /* 1/3 of the original image's height */
  border-radius: 50%;
}

section {
  background-color: #A65F40;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7% 10%;
}

nav {
  display: grid;
  grid-template-rows: 1fr 1fr 30fr;
  grid-gap: 2.5%;
}

#main-container{
  background-color: white;
  width: 95%;
  height: 90%;
  padding: 3%;
}

#main-container div:first-child {
  color: #A65F40;
  text-decoration: underline;
  display: flex;
  justify-content: center;
}

#main-container div:last-child {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#main-container h3 {
  color: #A65F40;
  margin-inline-start: 2em;
}

#main-container h4 {
  margin-inline-start: 2.5em;
}

#main-container ul {
  padding-inline-start: 0;
  list-style-type: none;
}

#main-container ol {
  padding-inline-start: 55px;
}

select, nav button {
  background-color: #A65F40;
  color: white;
  font-size: 1.3em;
  width: 100%;
}

form > label, form > p {
  padding-inline-start: 40px;
}

hr {
  height: 5px;
  width: 90%;
  /* background-color:#5596D2; */
  background-color: #63A7E4;
}

hr.ingredient-hr {
  height: 3px;
  background-color: #A65F40;
}

/* nav {
  background-color: #A65F40;
  color: white;
}
Maybe I could try this style above ^^^,
instead of styling the "New Concoction" button and "Saved Concoctions" list like that. */