#wrapper > div, header, #main-container div:first-child, #submit-button-container {
  display: flex;
  justify-content: center;
}

#wrapper {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 3%;
  padding: 2% 16% 5% 16%;
}

header, section, select, nav button, hr.ingredient-hr {
  background-color: #A65F40;
}

header { align-items: center; }

img {
  width: 166px; /* 1/3 of the original image's width */
  height: 139px; /* 1/3 of the original image's height */
  border-radius: 50%;
}

section { padding: 5% 7%; }

nav {
  display: grid;
  grid-template-rows: 1fr 1fr 30fr;
  grid-gap: 2.5%;
}

#main-container {
  background-color: white;
  height: 100%;
}

#main-container div:first-child {
  color: #A65F40;
  text-decoration: underline;
}

#main-container div:last-child {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

#main-container div:last-child p { margin-inline-end: 2em; }

#main-container h3 {
  color: #A65F40;
  margin-inline-start: 2em;
}

#main-container h4 { margin-inline-start: 2.5em; }

#main-container ul {
  padding-inline-start: 0;
  list-style-type: none;
}

#main-container ol { padding-inline-start: 55px; }

select, nav button, h1 { color: white; }

select, nav button {
  font-size: 1.3em;
  width: 100%;
}

form {
  padding-left: 5%;
  padding-right: 5%;
}

form > label, form > p { padding-inline-start: 40px; }

#submit-button-container {
  padding-bottom: 3%;
  padding-inline-start: 0;
}

hr {
  height: 5px;
  width: 90%;
  /* background-color:#5596D2; */
  background-color: #63A7E4;
}

hr.ingredient-hr { height: 3px; }

#concoction_name { width: 38%; }

input[name="amount"] { width: 15%; }

input[name="brand"], input[name="variety"] { width: 23%; }

input[name="name"] { width: 34%; }

#instructions {
  width: 76.5%;
  height: 6em;
}

#notes {
  width: 84%;
  height: 6em;
}

.red-text { color: red; }

/* nav {
  background-color: #A65F40;
  color: white;
}
Maybe I could try this style above ^^^,
instead of styling the "New Concoction" button and "Saved Concoctions" list like that. */